*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
}

.app{
  max-width: 375px;
  padding: min(8vmin, .5rem) min(8vmin, 1rem);
  background: hsl(223, 19%, 93%);
  box-shadow:  20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
}

.user-info-container{
  display: flex;
  align-items: center;
}

.user-image{
  height: 2.5rem;
  margin-right: 1rem;
}

.username{
  color: hsl(212, 24%, 26%);
  font-weight: 700;
  margin-right: 1rem;
}

.date-posted{
  color: hsl(211, 10%, 45%);
}

.single-comment{
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 6px;
  background: #fff;
}

.comment-text{
  padding: 1rem 0;
  line-height: 1.5;
  color: hsl(211, 10%, 45%);
}

.comment-replies{
  margin: 1rem 0;
  padding-left: 1rem;
  border-left: 2px solid hsl(228, 33%, 97%);
  list-style: none;
}

.single-reply{
  background: hsl(223, 19%, 93%);
}

.vote-and-reply-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .upvote,
.downvote,
.vote-number{
  display: block;
} */

.vote-container{
  background: hsl(228, 33%, 97%);
  padding: min(2.5vmin, 0.5rem) min(5vmin, 1rem);;
  border-radius: 5px;
}

.vote-number,
.reply-cta{
  color: hsl(238, 40%, 52%);
  margin: 0 0.8rem;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.add-comment-container,
.reply-form{
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
}

.add-comment-container input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: none;
}

.send-comment-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.reply-form{
  display: flex;
}
.reply-form input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: none;
} 
