*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
}

.app{
  position: relative;
  max-width: 375px;
  padding: min(8vmin, .5rem) min(8vmin, 1rem);
  background: hsl(223, 19%, 93%);
  box-shadow:  20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
}

.user-info-container{
  display: flex;
  align-items: center;
}

.user-image{
  height: 2.5rem;
  margin-right: 1rem;
}

.username{
  color: hsl(212, 24%, 26%);
  font-weight: 700;
  margin-right: 0.5rem;
}

.date-posted{
  color: hsl(211, 10%, 45%);
}

.single-comment{
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 6px;
  background: #fff;
}

.comment-text{
  padding: 1rem 0;
  line-height: 1.5;
  color: hsl(211, 10%, 45%);
}

.comment-replies{
  margin: 1rem 0;
  padding-left: 1rem;
  border-left: 2px solid hsl(228, 33%, 97%);
  list-style: none;
}

.single-reply{
  background: hsl(223, 19%, 93%);
}

.vote-and-reply-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reply-container{
  cursor: pointer;
}

/* .upvote,
.downvote,
.vote-number{
  display: block;
} */

.vote-container{
  background: hsl(228, 33%, 97%);
  padding: min(2.5vmin, 0.5rem) min(5vmin, 1rem);;
  border-radius: 5px;
  cursor: pointer;
}

.vote-number,
.reply-cta{
  color: hsl(238, 40%, 52%);
  margin: 0 0.8rem;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.add-comment-container,
.reply-form{
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
}

.add-comment-textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: none;
  min-height: 100px;
}

.send-comment-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.reply-form{
  display: flex;
}
.reply-textarea {
  padding: 0.5rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: none;
  min-height: 100px;
} 

.edit-delete-container{
  display: flex;
}
.deleter-icon-container,
.edit-icon-container{
  margin: 0 0.4rem;
  cursor: pointer;
}
.edit-cta-text{
  color: hsl(238, 40%, 52%);
  margin: 0 0.4rem
}
.delete-cta-text{
  color: hsl(358, 79%, 66%);
  margin: 0 0.4rem
}
.you-text{
  padding: 0.1rem 0.4rem;
  margin: 0.5rem;
  color: #fff;
  background: hsl(238, 40%, 52%);
  border-radius: 5px;
}

/* Styles for the overlay */
.delete-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure the overlay appears above other elements */
}

/* Styles for the modal popup */
.delete-modal {
  background-color: #fff;
  border-radius: 5px;
  padding: 1.5rem;
  max-width: 320px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.delete-modal h2 {
  margin: 0 5px;
  color: hsl(211, 10%, 45%);
}
.delete-modal p {
  margin: 20px 5px;
  color: hsl(211, 10%, 45%);
  line-height: 1.5;
}
.modal-buttons-container{
  display: flex;
  justify-content: center;
}
.delete-modal button {
  padding: 1rem;
}

.edit-input-container{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.edit-textarea{
  padding: 0.5rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: none;
  min-height: 100px;
}