*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.comment{
  border: 1px solid red;
}
.vote-container{
  background: hsl(228, 33%, 97%);
  padding: min(2.5vmin, 0.5rem) min(5vmin, 1rem);;
  border-radius: 5px;
}
.upvote,
.downvote{
  color: hsl(239, 57%, 85%);
}
.vote-number,
.reply{
  color: hsl(238, 40%, 52%);
}
